# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_PASSWORD=
DEV_DB_PASSWORD=           # Used by supabase db push to Dev
PROD_DB_PASSWORD=          # Used by supabase db push to Production
TENANT_ID=00000000-0000-0000-0000-000000000001
